.display-none{display: none !important;}

.student-violations .violation-wrapper:nth-child(even){

	background-color: hsl(0, 0%, 98%);
	border-top:1px solid hsl(0,0%, 75%);
	border-bottom:1px solid hsl(0,0%, 75%);
}

.student-violations .violation-wrapper{
	padding:30px;
}

.student-violations .violation-wrapper li{
	margin-bottom:0 !important;
}
.student-violations .violation-wrapper a{
	color:blue !important;
}

.plan-block h2{
	background-color: black;
	padding:8px;
}

.goal-bottom h4{
	background-color: black;
	padding:5px;
}

.goal-header p{
	font-size:1.1em;
	font-weight: 400;
}
.goal-header h1{
	font-size:3.5em;
}

.bg-lightgray{
	background-color: rgba(0 0 0 / 0.05);
}

/* book */
.node--type-book article footer{
	display: none;
}